/*************************************************
* 공용 컨텐츠
**************************************************/
body.type-12 a.linkPrivacy {
	color:#c22d35
}

/*************************************************
* 서브 컨텐츠
**************************************************/
body.type-12 #content header h1 {
	color:#8a1c22;
}
body.type-12 #content header p.desc {
	color:#74848c;
}
body.type-12 section h2:before {
	border-color:#c0c0c0;
}
body.type-12 section h2 {
	color:#000;
}
body.type-12 section h3.order:before {
	color:#8a1c22;	
}
body.type-12 section h3 {
	color:#8a1c22;
}
body.type-12 p.subtitle {
	color:#8a1c22
}
body.type-12 section h3.order {
	color:#282828;
}
body.type-12 section h3.h3 {
	background-image:url(images/type-12/iconH3.png);
	color:#e9400d;
}
body.type-12 section hr.basic {
	border-color:#f7b479;
}
body.type-12 ul.process>li {
	background:url(images/type-12/imgProcess.png) no-repeat left top;
}
body.type-12 ul.process>li+li:before {
	background:url(images/type-12/imgProcess.png) no-repeat right top;
}
body.type-12 ul.process>li.process-02 {background-position:-134px top}
body.type-12 ul.process>li.process-03 {background-position:-268px top}
body.type-12 ul.process>li.process-04 {background-position:-402px top}
body.type-12 ul.process>li.process-05 {background-position:-536px top}
body.type-12 ul.process>li.process-06 {background-position:-670px top}

body.type-12 div.tab {
	border-color:#393e4d
}
body.type-12 div.tab a.active,
body.type-12 div.tab button.active {
	position:relative;
	top:1px;
	background:#fff;
	border:1px solid #41545f;
	border-top:5px solid #41545f;
	border-bottom:1px solid #Fff;
	color:#666;
}

body.type-12 div.verticalTab ul.depth1 > li > button {
	background-image:url(images/type-12/bgVerticalTab.png);
}
body.type-12 div.verticalTab ul.depth1 > li:hover > button.active {
	color:#fff;
}
body.type-12 div.verticalTab ul.depth1 > li:hover > button,
body.type-12 div.verticalTab ul.depth2 > li:hover > button,
body.type-12 div.verticalTab ul.depth2 > li > button.active {
	color:#8a1c22;	
}

body.type-12 .paging li > a.active {
	background:#95a7b0;
	border-color:#95a7b0;
}
body.type-12 .paging li > a:hover,
body.type-12 section#content button.btn.btn-paging:hover {
	background:#41545f;
	border-color:#41545f;
	color:#fff;
}
body.type-12 section#content button.btn.btn-paging {
	background:#fff;
	border-color:#e6e6e6;
}

body.type-12 span.view-bbs-dday,
body.type-12 div.list-bbs span.list-bbs-dday {
	color:#41545f;
}
body.type-12 strong.plzFinish {
	color:#8a1c22
}

body.type-12 table.table,
body.type-12 div.list-bbs,
body.type-12 section#content dl.list-faq,
body.type-12 div.div-info {
	border-top-color:#393e4d
}
body.type-12 div.list-bbs {
	border-bottom-color:#a7a7a7
}
body.type-12 span.text-label.notice {
	background:#41545f;
}
body.type-12 span.text-label.open{
	background:#8a1c22;
}
body.type-12 span.text-label.ready{
	background:#95a7b0;
}
body.type-12 span.text-label.close{
	background:#41545f;
}
body.type-12 .period_notice,
body.type-12 section#content .period_notice strong {
	color:#949494
}

body.type-12 section#content dl.list-faq > dt > button.question-opener:hover,
body.type-12 section#content dl.list-faq > dt.active > button.question-opener,
body.type-12 section#content dl.list-faq > dd {
	background:#f8f8f8;
	border-color:#f8f8f8;
	color:#333;
}

body.type-12 section#content dl.list-faq > dd > span.faq-answer::before {
	background-image:url(images/type-12/iconQna.png);
}

body.type-12 div.step > ul > li > a {background-image:url(images/type-12/bgStep.png);}

body.type-12 div.list-bbs > ul > li > div.list-bbs-number {
	color:#5b5b5b;
}
/*************************************************
* 페이지 마법사
**************************************************/
body.type-12 .imageBox .headerRow .headerText {
	background:#445660;
}
body.type-12 .imageBox .headerRow .headerText .textBottom {
	color:#fff;
}
body.type-12 .imageBox .bodyRow dt {
	color:#8a1c22;
}
body.type-12 .welfare h2 {
	color:#463f3f;
}
body.type-12 .welfare h2:before {
	border-top-color:#d0d0d0
}
body.type-12 .welfare .icon {
	background-image:url(images/type-12/welfareBg.png);
}
body.type-12 .textList h2:before {
	color:#032650;
}
body.type-12 .textList li {
	color:#8496ab;
}
body.type-12 .rightPeople h2 {
	color:#fff;
}
body.type-12 .rightPeople>div.wrapRightPeople {
	background:url(images/type-12/rightPeople.png) no-repeat center top;
}
body.type-12 .rightPeople>div.wrapRightPeople.length-5 {
	background-image:url(images/type-12/rightPeople-5.png);
}
body.type-12 .contentList>div.levelSystem.pageWizard h3,
body.type-12 .levelSystem h3 {
	color:#000
}
body.type-12 .levelSystem .levelGraph>.list-1,
body.type-12 .levelSystem .levelGraph>.list-5 {
	background:#41545f;
	background:rgba(65, 84, 95, 0.9);
}
body.type-12 .levelSystem .levelGraph>.list-2,
body.type-12 .levelSystem .levelGraph>.list-4,
body.type-12 .levelSystem .levelGraph>.list-6 {
	background:#9aabb3;
	background:rgba(154, 171, 179, 0.9);
}
body.type-12 .levelSystem .levelGraph>.list-3,
body.type-12 .levelSystem .levelGraph>.list-7 {
	background:#8a1c22;
	background:rgba(138, 28, 34, 0.9);
}

/******************************************************************
* 모달레이어팝업
*******************************************************************/
body.type-12 .appsite-modal h2.h2 {
	background:#8a1c22;
}

/******************************************************************
* 폼 요소 모음
*******************************************************************/
body.type-12 section#content button.btn.btn-big,
body.type-12 section#content button.btn.btn-big.btn-add,
body.type-12 section#content button.btn.btn-big.btn-ng {
	background-image:url(images/type-12/btnBackground.png);
}
body.type-12 section#content button.btn.btn-big {
	background-position:left top;
	border-color:#8a1c22;
}
body.type-12 section#content button.btn.btn-big.btn-ng {
	background-position:left -50px;
	border-color:#c0c0c0;
}
body.type-12 section#content button.btn.btn-big.btn-add {
	background-position:left bottom;
	border-color:#41545f;	
}
body.type-12 section#content button.btn,
body.type-12 .appsite-modal button.btn-modal {
	background:#41545f;
	border-color:#41545f;
}
body.type-12 section#content button.btn-ng,
body.type-12 .appsite-modal button.btn-modal.btn-modal-ng {
	background:#9d9d9d;
	border-color:#9d9d9d;
}
body.type-12 #content label > input.radio[type="radio"]:checked + span.label::before,
body.type-12 #content label > input.checkbox[type="checkbox"]:checked + span.label::before {
	background:#41545f !important;
	border-color:#41545f !important;
}
body.type-12 #content label > input.checkbox[type="checkbox"]:checked + span.label::before {
	border-radius:2px !important;	
}
body.type-12 input:focus, 
body.type-12 select:focus {
	border-color:#41545f;
}
body.type-12 section#content button.btn-white-green {
	color:#fff;
}

/******************************************************************
* 데이트피커
*******************************************************************/
body.type-12 .ui-widget-header {
	background:#41545f;
	border:none;
}
body.type-12 .ui-widget-content .ui-state-default {
	background:#e5e5e5;
	border-color:#e5e5e5;
	color:#4d4545;
}
body.type-12 .ui-widget-content .ui-state-default:hover {
	background:#8a1c22;
	border-color:#8a1c22;
	color:#fff;
}
body.type-12 .ui-widget-content .ui-state-default.ui-datepicker-close {
	background:#41545f;
	border-color:#41545f;
	color:#fff;
}
body.type-12 .ui-widget-header .ui-icon {
	background-image:url(images/type-12/ui-icons.png);
}
body.type-12 .ui-widget-header .ui-state-hover .ui-icon {
	background-image:url(images/type-12/ui-icons-hover.png);
}

body.type-12 .ui-widget-content {
	border-color:#ddd;
}