/*************************************************
* 공용 컨텐츠
**************************************************/
body.type-03 a.linkPrivacy {
	color:#5275c0
}

/*************************************************
* 서브 컨텐츠
**************************************************/
body.type-03 #content header h1 {
	color:#5275c0;
}
body.type-03 section h2:before {
	border-color:#879ecf
}
body.type-03 .contentList>div.levelSystem.pageWizard h3,
body.type-03 section h3.order:before,
body.type-03 p.subtitle,
body.type-03 h3 {
	color:#2cace1;
}
body.type-03 section h3.order {
	color:#191919
}
body.type-03 section h3.h3 {
	background-image:url(images/type-03/iconH3.png);
	color:#526bc9;
}
body.type-03 section hr.basic {
	border-color:#5275c0;
}
body.type-03 ul.process>li {
	background:url(images/type-03/imgProcess.png) no-repeat left top;
}
body.type-03 ul.process>li+li:before {
	background:url(images/type-03/imgProcess.png) no-repeat right top;
}
body.type-03 ul.process>li.process-02 {background-position:-134px top}
body.type-03 ul.process>li.process-03 {background-position:-268px top}
body.type-03 ul.process>li.process-04 {background-position:-402px top}
body.type-03 ul.process>li.process-05 {background-position:-536px top}
body.type-03 ul.process>li.process-06 {background-position:-670px top}

body.type-03 div.tab {
	border-color:#6473ac;
}
body.type-03 div.tab .active {
	background:#6473ac;
	border-color:#6473ac;
}

body.type-03 div.verticalTab ul.depth1 > li > button {
	background-image:url(images/type-03/bgVerticalTab.png);
}
body.type-03 div.verticalTab ul.depth1 > li:hover > button {
	color:#6076ba;
}
body.type-03 div.verticalTab ul.depth1 > li:hover > button.active {
	color:#fff;
}
body.type-03 div.verticalTab ul.depth2 > li:hover > button,
body.type-03 div.verticalTab ul.depth2 > li > button.active {
	color:#6076ba;	
}


body.type-03 section#content button.btn.btn-paging {
	background:#f4f6f6;
	border-color:#e6e6e6;
}
body.type-03 .paging li > a:hover,
body.type-03 section#content button.btn.btn-paging:hover {
	background:#51bcd2;
	border-color:#51bcd2;
	color:#fff;
}
body.type-03 span.view-bbs-dday,
body.type-03 div.list-bbs span.list-bbs-dday {
	color:#0ba6ff;
}
body.type-03 strong.plzFinish,
body.type-03 div.countDown {
	color:#466cbf;
}
body.type-03 div.step > ul > li > a {background-image:url(images/type-03/bgStep.png);}
body.type-03 #content div.photo ul {background:#d7eaf0}


body.type-03 table.table,
body.type-03 div.list-bbs,
body.type-03 section#content dl.list-faq,
body.type-03 div.div-info {
	border-top-color:#6473ac
}
body.type-03 div.list-bbs {
	border-bottom-color:#6473ac
}
body.type-03 span.text-label.notice {
	background:#55c8ef;
}
body.type-03 span.text-label.open{
	background:#55c8ef;
}
body.type-03 span.text-label.ready{
	background:#51cdd2;
}
body.type-03 span.text-label.close{
	background:#b8b8b8;
}
body.type-03 .period_notice {
	color:#526bc9;
}
body.type-03 section#content .period_notice strong {
	color:#517796
}

body.type-03 div.list-bbs > ul > li > div.list-bbs-number {
	color:#96a4bb;
} 

body.type-03 ul.view-bbs-file > li > a:after {
	background-image:url(images/type-03/iconDownload.png);
}


body.type-03 section#content dl.list-faq > dt.active > button.question-opener {
	background:#e8f1f7;
	border-color:#e8f1f7;
	color:#486b85;
}
body.type-03 section#content dl.list-faq > dd {
	background:#e8f1f7;
	color:#486b85;
}
body.type-03 section#content dl.list-faq > dd > span.faq-answer::before {
	background-image:url(images/type-03/iconQna.png);
}
body.type-03 section#content table.table .required:before {
	background-image:url(images/type-03/iconRequired.png);
}

/*************************************************
* 페이지 마법사
**************************************************/
body.type-03 .imageBox .headerRow .headerText {
	background:#52bcd2;
}
body.type-03 .imageBox .bodyRow dt {
	color:#748dc5;
}
body.type-03 .welfare h2 {
	color:#1cc0d8;
}
body.type-03 .welfare h2:before {
	border-top-color:#879ecf;
}
body.type-03 .welfare .icon {
	background-image:url(images/type-03/welfareBg.png);
}
body.type-03 .textList h2:before {
	color:#1cc0d8;
}
body.type-03 .textList li {
	color:#5371b2;
}
body.type-03 .rightPeople>div.wrapRightPeople {
	background:url(images/type-03/rightPeople.png) no-repeat center top;
}
body.type-03 .rightPeople>div.wrapRightPeople.length-5 {
	background-image:url(images/type-03/rightPeople-5.png);
}
body.type-03 .levelSystem .levelGraph>.list-1,
body.type-03 .levelSystem .levelGraph>.list-3,
body.type-03 .levelSystem .levelGraph>.list-5,
body.type-03 .levelSystem .levelGraph>.list-7 {
	background:#0096bb;
	background:rgba(0, 150, 187, 0.8);
}

body.type-03 .levelSystem .levelGraph>.list-2,
body.type-03 .levelSystem .levelGraph>.list-4,
body.type-03 .levelSystem .levelGraph>.list-6 {
	background:#6095db;
	background:rgba(96, 149, 219, 0.8);
}

/******************************************************************
* 모달레이어팝업
*******************************************************************/
body.type-03 .appsite-modal h2.h2 {
	background:#405aa2;
}

/******************************************************************
* 폼 요소 모음
*******************************************************************/
body.type-03 section#content button.btn.btn-big,
body.type-03 section#content button.btn.btn-big.btn-add,
body.type-03 section#content button.btn.btn-big.btn-ng {
	background-image:url(images/type-03/btnBackground.png);
}
body.type-03 section#content button.btn.btn-big {
	background-position:left top;
	border-color:#5275c0;
}
body.type-03 section#content button.btn.btn-big.btn-ng {
	background-position:left -50px;
	border-color:#97999b;
}
body.type-03 section#content button.btn.btn-big.btn-add {
	background-position:left bottom;
	border-color:#6f95c4;	
}
body.type-03 section#content button.btn,
body.type-03 .appsite-modal button.btn-modal {
	background:#51bcd2;
	border-color:#51bcd2;
}
body.type-03 section#content button.btn-ng,
body.type-03 .appsite-modal button.btn-modal.btn-modal-ng  {
	background:#989b9d;
	border-color:#898e90;
}
body.type-03 #content label > input.radio[type="radio"]:checked + span.label::before,
body.type-03 #content label > input.checkbox[type="checkbox"]:checked + span.label::before {
	background:#5ebfd3 !important;
	border-color:#5ebfd3 !important;
}
body.type-03 #content label > input.checkbox[type="checkbox"]:checked + span.label::before {
	border-radius:2px !important;	
}
body.type-03 input:focus, 
body.type-03 select:focus {
	border-color:#51bcd2;
}
body.type-03 section#content button.btn-white-green {
	color:#fff;
}

/******************************************************************
* 데이트피커
*******************************************************************/
body.type-03 .ui-widget-header {
	background:url(images/type-03/bgCalendar.png) repeat-x 50% 50%;
	border:none;
}
body.type-03 .ui-widget-content .ui-state-default {
	background:#d3eef4;
	border-color:#d3eef4;
	color:#4d4545;
}
body.type-03 .ui-widget-content .ui-state-default:hover {
	background:#85d0e0;
	border-color:#85d0e0;
}
body.type-03 .ui-widget-content .ui-state-default.ui-datepicker-close {
	background:#5275c0;
	border-color:#5275c0 ;
	color:#fff;
}
body.type-03 .ui-widget-header .ui-icon {
	background-image:url(images/type-03/ui-icons.png);
}
body.type-03 .ui-widget-header .ui-state-hover .ui-icon {
	background-image:url(images/type-03/ui-icons-hover.png);
}

body.type-03 .ui-widget-content {
	border-color:#a6c9e2;
}